{% extends 'quiz/quiz_base.html' %}
{% load quiz_tags %}
{% block page_title %}Quiz List{% endblock %}
{% block breadcrumbs %}
    <li class="active"><a href="{% url 'quiz-list' %}">Quizzes</a></li>
{% endblock %}
{% block body_content %}
<div class="span12">
    <h1>Quiz List{% if is_admin %} <a class="btn btn-warning btn-large pull-right create-quiz-btn" href="{% url 'admin:quiz_quiz_add' %}">Create A New Quiz</a>{% endif %}</h1>

    <table class="table table-striped">
        <tr>
            <th>Quiz Title</th>
            <th>Quiz Content</th>
            <th>{% if is_student %}Take Quiz{% elif is_admin%}Student Quiz Results{% endif %}</th>
        </tr>
        {% for quiz in object_list %}
        <tr>
            <td>{{ quiz.title }}</td>
            <td><a class="btn btn-primary" href="{% url 'quiz-info' quiz.pk %}">{% if is_student %}Review Quiz Content{% elif is_admin %}Review Quiz Content{% endif %}</a></td>
            <td>
                {% has_student_completed_quiz request.user quiz as quiz_taken %}
                {% if is_student %}
                    {% if not quiz_taken %}
                        <a class="btn btn-success" href="{% url 'take-quiz' quiz.pk %}">Take Quiz</a>
                    {% else %}
                        <button type="button" class="btn" disabled="disabled">Quiz Completed</button>
                    {% endif %}
                {% elif is_admin %}
                    <a class="btn btn-info" href="{% url 'quiz-results' quiz.pk %}">See Student Quiz Results</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
